<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- displays site properly based on user's device -->

    <link rel="icon" type="image/png" sizes="32x32" href="<%= require('../assets/images/favicon-32x32.png') %>">

    <title>Frontend Mentor | Age calculator app</title>
</head>
<body>
<main>
    <form>
        <div class="input">
            <label for="input-day" class="input__label">Day</label>
            <input type="number"
                   name="day"
                   id="input-day"
                   placeholder="DD"
                   min="1"
                   max="31"
                   class="input__field">
            <small class="input__info">Must be a valid day</small>
        </div>
        <div class="input">
            <label for="input-month" class="input__label">Month</label>
            <input type="number"
                   name="month"
                   id="input-month"
                   placeholder="MM"
                   min="1"
                   max="12"
                   class="input__field">
            <small class="input__info">Must be a valid month</small>
        </div>
        <div class="input">
            <label for="input-year" class="input__label">Year</label>
            <input type="number"
                   name="year"
                   id="input-year"
                   placeholder="YYYY"
                   class="input__field">
            <small class="input__info">Must be a valid Year</small>
        </div>

        <button class="submit-button">
            <img src="<%= require('../assets/images/icon-arrow.svg') %>" alt="submit" width="46" height="44">
        </button>

        <fieldset id="result">
            <label><input type="number" name="resultYears" placeholder="––"> years</label>
            <label><input type="number" name="resultMonths" placeholder="––"> months</label>
            <label><input type="number" name="resultDays" placeholder="––"> days</label>
        </fieldset>
    </form>
</main>
</body>
</html>
